################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AgXUnity/obj
/.vs/AgXUnity/v14
/AgXUnityEditor/obj/Debug
/output
/AgXUnityEditor/obj/Release
/AgXUnity.VC.VC.opendb
/AgXUnity.VC.db
.vs
